.root {
  display: flex;
  border: 1px solid grey;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 10px;
  border-radius: 12px;
  flex-direction: column;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 10px;
    width: 100%;

    .icon {
      display: flex;
      cursor: pointer;
      svg {
        width: 15px;
        color: grey;
      }
    }

    .thematic {
      border: 1px solid #a7bed3;
      background-color: #c6e2e9;
      border-radius: 20px;
      padding: 2px 16px;
      font-size: 10px;
      text-transform: uppercase;
    }
  }
  .title {
    display: flex;
    text-transform: uppercase;
    width: 100%;
    font-weight: 600;
    font-size: 24px;
  }

  .shared-with {
    color: #353535;
    font-size: 12px;
    font-style: italic;
  }
}
