/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./src/app/login/classes.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.classes_root__9_HfQ {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 600px;
  margin-top: 100px;
}
.classes_root__9_HfQ .classes_content__1JGuL {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 450px;
  min-width: 500px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #fefae0;
}
@media screen and (max-width: 500px) {
  .classes_root__9_HfQ .classes_content__1JGuL {
    min-width: 390px;
  }
}
@media screen and (max-width: 400px) {
  .classes_root__9_HfQ .classes_content__1JGuL {
    min-width: 350px;
  }
}
@media screen and (max-width: 360px) {
  .classes_root__9_HfQ .classes_content__1JGuL {
    min-width: 320px;
  }
}
@media screen and (max-width: 320px) {
  .classes_root__9_HfQ .classes_content__1JGuL {
    min-width: 300px;
  }
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_title__mBk8h {
  text-align: center;
  margin-top: 20px;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_subtitle__ALXMR {
  text-align: center;
  margin-top: 10px;
  color: #6c757d;
}
.classes_root__9_HfQ .classes_content__1JGuL img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  margin-top: 30px;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_form__Mfuvy {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_form__Mfuvy .classes_form-element__o_V2_ {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_form__Mfuvy .classes_form-element__o_V2_ input {
  background-color: transparent;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #fec89a;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_form__Mfuvy .classes_form-element__o_V2_ input:focus {
  outline: none;
  border: 1px solid #fec89a;
}
.classes_root__9_HfQ .classes_content__1JGuL .classes_form__Mfuvy .classes_form-element__o_V2_ input::placeholder {
  color: #6c757d;
}
