.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;

  &.is-selected {
    border: 1px solid #2a5293;
    border-radius: 8px;
    z-index: 10;
  }

  .text-container {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    user-select: none;

    .text {
      position: relative;
      display: inline-block;

      &.is-crossed::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 2px; /* Adjust the thickness of the line */
        background: #2a5293; /* Adjust the color of the line */
        transform: translateY(-50%);
      }
    }
    .form {
      width: 100%;

      .input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 5px;

        &:focus {
          outline: none;
          border: 1px solid #ffb600;
          background-color: #efe9ae;
        }
        // border: 1px solid #333533;
        // outline: 1px solid #333533;
      }
    }
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;

    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;

    .circle-selected {
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      z-index: 5;

      &.is-selected {
        background-color: #2a5293;
      }

      &.is-crossed {
        width: 20px;
        height: 20px;
        background-color: #2a5293;
      }
    }
  }
  .svg {
    margin-right: 10px;
    display: flex;
    align-items: center;
    min-width: 20px;
    max-width: 20px;
    cursor: pointer;
    z-index: 7;
  }

  .choice-container {
    display: flex;
    position: absolute;
    min-width: 80px;
    min-height: 50px;
    border: 1px solid #2a5293;
    border-radius: 8px;
    top: 50px;
    right: 0px;
    flex-direction: column;
    gap: 4px;
    background-color: #efefef;
    z-index: 100;

    .choice {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 12px;
      padding: 4px 8px;
      width: 100%;
      height: 100%;
      z-index: 101;

      &:hover {
        background-color: #bcd4e6;
        color: #001c55;
      }

      &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}
