.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  padding: 6px;
  cursor: pointer;
  border: 1px solid transparent;

  &.is-selected {
    border: 1px solid #2a5293;
    border-radius: 8px;
  }

  .text-container {
    width: 100%;
    padding: 5px 10px;
    position: relative;
    user-select: none;

    .text {
      position: relative;
      display: inline-block;

      &.is-crossed::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 2px; /* Adjust the thickness of the line */
        background: #2a5293; /* Adjust the color of the line */
        transform: translateY(-50%);
      }
    }
    .form {
      width: 100%;

      .input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 5px;

        &:focus {
          outline: none;
          border: 1px solid #ffb600;
          background-color: #efe9ae;
        }
        // border: 1px solid #333533;
        // outline: 1px solid #333533;
      }
    }
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;

    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;

    .circle-selected {
      display: flex;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: transparent;
      z-index: 5;

      &.is-selected {
        background-color: #2a5293;
      }

      &.is-crossed {
        width: 20px;
        height: 20px;
        background-color: #2a5293;
      }
    }
  }
  .svg {
    margin-right: 10px;
    display: flex;
    align-items: center;
    min-width: 20px;
    max-width: 20px;
    cursor: pointer;
  }
}
