.root {
    display: flex;
    justify-content: flex-end;
    height: 80%;
    min-height:350px;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #faedcd;
    border-bottom-left-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
    transition: transform 300ms ease-in, opacity 300ms ease-in, width 300ms ease-in;
	transform: translateX(0%);

    @media screen and (max-width: 350px) {
        width: 100%;
    }

    svg {
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
        height: 50px;
    }
}