.root {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  margin-top: 30px;

  .dynamic-button,
  .form {
    flex-shrink: 0;
    white-space: nowrap;
  }
  .dynamic-button {
    display: flex;
    gap: 10px;
    width: 100%;
    background: transparent;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #333533;
    outline: 1px solid #333533;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    position: absolute;
    left: 0;
    transform: translateX(0);
    background-color: #eaf2d7;
    transition: background-color 0.4s ease-in-out;

    &:hover {
      background-color: #c9e4de;
    }

    .svg {
      display: flex;
      align-items: center;
      width: 30px;
    }

    &.is-button-invisible {
      opacity: 0;
      pointer-events: none;
      transform: translateX(-100%);
    }
  }

  .form {
    visibility: hidden;
    width: 100%;
    gap: 10px;
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    margin-top: 50px;

    &.is-form-visible {
      display: flex;
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      flex-direction: column;

      .content {
        display: flex;
        border: 1px solid red;
        .dynamic-input {
          flex: 1;
          gap: 10px;
          width: 100%;
          background: transparent;
          align-items: center;
          padding: 15px 20px;
          border: 1px solid #333533;
          outline: 1px solid #333533;

          input::placeholder {
            color: #333533;
            font-size: 12px;
          }

          input:focus,
          input:active,
          input:focus-visible,
          input:focus-within {
            outline: 2px solid #333533;
          }
        }
        .svg {
          display: flex;
          align-items: center;
          width: 30px;
          cursor: pointer;
        }
      }

      .error-container {
        min-height: 40px;
        max-height: 40px;
        height: 100%;
        border: 1px solid orange;
        .error {
          color: #950e0e;
          font-size: 13px;
        }
      }
    }
  }
}
