.root {
  display: flex;
  height: 100%;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .top {
    margin-top: 100px;
    @media screen and (max-width: 400px) {
      margin-top: 60px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 450px;
    min-width: 500px;
    max-width: 600px;
    border-radius: 10px;
    border: 1px solid #4f5d75;
    gap: 20px;
    background-color: #f5f3f4;
    padding: 10px;
    margin: 10px;
    justify-content: center;

    @media screen and (max-width: 500px) {
      min-width: 390px;
    }
    @media screen and (max-width: 400px) {
      min-width: 350px;
    }
    @media screen and (max-width: 360px) {
      min-width: 320px;
    }
    @media screen and (max-width: 320px) {
      min-width: 300px;
    }

    .title,
    .subtitle {
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .form-element {
        display: flex;
        flex-direction: column;

        input {
          background-color: transparent;
          border-radius: 4px;
          padding: 10px;
          border: 1px solid #fec89a;

          &:focus {
            outline: none;
            border: 1px solid #ffb600;
            background-color: #efe9ae;
          }

          &::placeholder {
            color: #6c757d;
          }
        }

        .error {
          color: #950e0e;
          font-weight: 800;
        }
      }
      
      .button-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 8px;

        .connexion-button {
          padding: 8px;
          background-color: #ffcb77;
          border: 1px solid #fec89a;
          cursor: pointer;
        }

        .registration-button-container {
          display: flex;
          align-items: center;
          justify-content: center;

          .registration-button {
            display: flex;
            border: none;
            cursor: pointer;
            text-decoration: underline;
            font-style: italic;
            background-color: inherit;
          }
        }
      }
    }
  }
}
