.root {
  border: 1px solid grey;
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: 10px;
  border-radius: 12px;

  @media screen and (max-width: 420px) {
    max-width: 380px;
  }
  @media screen and (max-width: 400px) {
    max-width: 360px;
  }
  @media screen and (max-width: 360px) {
    max-width: 320px;
  }

  .content {
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 0 10px;

      .text {
        width: 100%;
        display: flex;
        align-items: center;
        font-family: "Geologica", sans-serif;

        .emphasis-left {
          font-weight: 600;
          padding-right: 5px;
        }
        .emphasis-right {
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .icon-container {
        display: flex;
        align-items: center;
        .icon {
          display: flex;
          width: 18px;
          height: 18px;
          animation: turnDown 0.5s forwards;

          &.turnUp {
            animation: turnUp 0.5s forwards;
          }
        }

        @keyframes turnDown {
          from {
            transform: rotate(0deg);
          }
          to {
            transform: rotate(180deg);
          }
        }

        @keyframes turnUp {
          from {
            transform: rotate(180deg);
          }
          to {
            transform: rotate(0deg);
          }
        }
      }
    }

    .hidden-content {
      display: flex;
      opacity: 0;
      transform: translateY(-20px);
      max-height: 0;
      flex-direction: column;
      padding-left: 10px;
      animation: collapseContent 0.2s ease-out forwards;

      &.content-visible {
        animation: expandContent 0.5s ease-out forwards;
      }

      .decision-buttons {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 10px;

        .icon {
          width: 20px;
        }

        .icon-accept {
          color: white;
          width: 20px;
        }

        .button-accept {
          margin: 10px 0px;
          background-color: #248277;
          border-color: white;

          .text-color {
            color: white;
          }
        }
        .button-refuse {
          margin: 10px 0px;
          border: 1px solid #c81d25;
        }
      }
      .text-author {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: "Lora", sans-serif;
        font-weight: 400;
        gap: 8px;
        font-size: 12px;
        color: #9b9b9b;

        .icon {
          display: flex;
          flex-shrink: 0;
          flex-direction: row;
          align-items: center;
          width: 20px;
          height: auto;
        }
      }

      .text-description {
        display: flex;
        align-items: flex-start;
        font-family: "Lora", sans-serif;
        font-weight: 400;
        padding: 15px 0;
        gap: 8px;
        flex-grow: 0;

        overflow: hidden; // Hide all overflow content
        text-overflow: ellipsis;
        overflow-y: auto;

        .icon {
          display: flex;
          flex-shrink: 0;
          flex-direction: row;
          align-items: center;
          width: 20px;
          height: auto;
        }
      }
    }
    @keyframes expandContent {
      0% {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        padding-top: 0px;
      }
      100% {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 30px;
      }
    }

    @keyframes collapseContent {
      0% {
        opacity: 1;
        visibility: visible;
        max-height: 500px;
        padding-top: 30px;
      }
      100% {
        opacity: 0;
        visibility: hidden;
        max-height: 0px;
        padding-top: 0px;
      }
    }
  }
}
