.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #ccd5ae;

  .logo {
    display: flex;
    height: 80%;
    margin-left: 30px;
  }
  .mobile {
    display: none;

    @media screen and (max-width: 768px) {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .icon {
      margin-right: 30px;
      height: 80%;
    }
  }
  .big-screen-nav-links {
    display: flex;
    min-width: 300px;
    height: 80%;
    gap: 20px;
    justify-content: space-between;
    margin-right: 30px;

    .nav-link {
      display: flex;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }  
  }
}
