.root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .loader-wrapper {
    position: absolute;
    left: calc(100% / 2 - 60px);
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader-placeholder {
    display: none;
  }
}
